
.singleline {
    /* For <p> elements that should take only one line of space */
    margin-top: 0.35em;
    margin-bottom: 0em;
}
.fakelink {
    /* For text that has a clickable action */
    text-decoration: underline;
    cursor: pointer;
}

#titletext {
    /* For the text displaying the title of the game */
    position: absolute;
    left: 5;
    font-size: 40px;
}

#loginblock {
    position: absolute;
    right: 15px;
    top: 15px;
}

#titleblock {
    /* Provides the game's static header */
    padding: -15px;
    min-height: 150px;
    width: 100%;
}

#localmaprightpanel {
    display: block;
    /*width is set in the app, and is dependent on mobile mode */
    background-color: white;
    height: calc(100vh - 185px);
}

.localmaptile {
    display: block;
    position: absolute;
    width: 40px;
    height: 40px;
    cursor: pointer;
}

.worldmaptile {
    display: block;
    position: absolute;
    width: 56px;
    height: 56px;
    cursor: pointer;
}


